@model TimeTrackerLibrary.Model.User

@{
    ViewData["Title"] = "Index";
    @*List of todos passed from controller to show in table list*@
    var UserList = (IEnumerable<TimeTrackerLibrary.Model.User>)ViewData["UserList"];
}

<h1>List of Users</h1>

@*This style attribute provides border styling and alternate color to cell*@
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }

    td, th {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: lightgrey;
    }
</style>

@*This is the main table to show all todos*@
<table>
    @*This inline style provides background yellow to header only*@
    <thead style="background-color:yellow">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Rate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in UserList)
        {
            <tr>
                <!--<td>-->
                @*This partial is used to show inline form to update Todo*@
                <!--<partial name="_EditPartial" model="@item" />
                </td>-->
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <!--<td>-->
                @*This partial is used to show inline form to delete Todo*@
                <!--<partial name="_DeletePartial" model="@item" />
                </td>-->
            </tr>
        }
    </tbody>
</table>
